{:paths ["resources" "src"]
 :deps {org.clojure/clojure {:mvn/version "1.10.1"}
        ring {:mvn/version "1.8.0"}

        ;; Crux
        juxt/crux-core {:mvn/version "20.04-1.8.1-alpha"}
        juxt/crux-rocksdb {:mvn/version "20.04-1.8.1-alpha"}

        ;; Integrant
        integrant/integrant {:mvn/version "0.8.0"}
        integrant/repl {:mvn/version "0.3.1"}
        org.clojure/tools.namespace {:mvn/version "1.0.0"}

        ;; List env vars
        environ/environ {:mvn/version "1.1.0"}

        ;; Request (myself) on prod to check prod state
        clj-http {:mvn/version "3.10.0"}
        }
 :aliases
 {:main {:main-opts ["-m" "eu.teod.heimdall.main"]}

  ;; Test
  :test {:extra-paths ["test"]
         :extra-deps {org.clojure/test.check {:mvn/version "0.10.0"}}}
  :runner
  {:extra-deps {com.cognitect/test-runner
                {:git/url "https://github.com/cognitect-labs/test-runner"
                 :sha "76568540e7f40268ad2b646110f237a60295fa3c"}}
   :main-opts ["-m" "cognitect.test-runner"
               "-d" "test"]}}}
