;; prod config overrides

;; db string for testing
;; postgresql://localhost/heimdall?user=heimdall&password=f7886e6385e2579c9c60bfcc8c064b8a4ff6fc5b

{:eu.teod.heimdall/db {:crux.node/topology [crux.jdbc/topology]
                       :crux.jdbc/dbtype   "postgresql"
                       }}
